**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [1]:
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5955 sha256=32dc53ac62885ef316179c3306c4848390d7b6de2924832c1f71e7ade36c2cb7
  Stored in directory: /home/1413715/.cache/pip/wheels/77/3d/a6/d317a6fb32be58a602b1e8c6b5d6f31f79322da554cad2a5ea
Successfully built apyori
Installing collected packages: apyori
  WARNING: The script apyori-run is installed in '/home/1413715/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed apyori-1.1.2

In [94]:
import pandas as pd
from apyori import apriori

In [95]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base= pd.read_csv("pao_corrigido.csv")
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM e NÃO.csv', ';', encoding='cp1252')
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM.csv', ';', encoding='cp1252',header=None)
base

   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
0    NaN  Café      NaN  Pão  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pão  Manteiga    NaN     NaN
2    NaN  Café      NaN  Pão  Manteiga    NaN     NaN
3  Leite  Café      NaN  Pão  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pão       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijão
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijão
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

In [96]:
base.shape

(10, 7)

**O código a seguir altera a base de dados para colocar as ausências dos produtos**

In [97]:
for column in base:
     base[column]=base[column].fillna('~' + column)

In [98]:
base

    Leite   Café   Cerveja   Pão   Manteiga   Arroz   Feijão
0  ~Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
1   Leite  ~Café   Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
2  ~Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
3   Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
4  ~Leite  ~Café   Cerveja  ~Pão  ~Manteiga  ~Arroz  ~Feijão
5  ~Leite  ~Café  ~Cerveja  ~Pão   Manteiga  ~Arroz  ~Feijão
6  ~Leite  ~Café  ~Cerveja   Pão  ~Manteiga  ~Arroz  ~Feijão
7  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga  ~Arroz   Feijão
8  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga   Arroz   Feijão
9  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga   Arroz  ~Feijão

In [99]:
base.shape

(10, 7)

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [100]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [101]:
transacoes

[['~Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['Leite', '~Café', 'Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', 'Cerveja', '~Pão', '~Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', 'Pão', '~Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', '~Arroz', 'Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', 'Arroz', 'Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', 'Arroz', '~Feijão']]

In [102]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [103]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)
saida = list(regras) 
print(len(saida))
# print(saida)

117

In [104]:
print(saida[0])

RelationRecord(items=frozenset({'~Arroz'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'~Arroz'}), confidence=0.8, lift=1.0)])

In [105]:
print(saida[1])

RelationRecord(items=frozenset({'~Cerveja'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'~Cerveja'}), confidence=0.8, lift=1.0)])

In [106]:
print(saida[2])

RelationRecord(items=frozenset({'~Feijão'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'~Feijão'}), confidence=0.8, lift=1.0)])

**Para facilitar a visualização, veja como transformar isso em um dataframe** 

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [136]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []
cont = 0

for resultado in saida:
    s = resultado[1]
    result_rules = resultado[2]
    for result_rule in result_rules:
        cont = 0
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        if "~" in b[0]:
            continue
        if 'nan' in a or 'nan' in b:
            continue
        if len(a) == 0 or len(b) == 0:
            continue
        for element in a:
            if "~" in element:
                cont = cont+1
        if cont == len(a):
            Antecedente.append(a)
            Consequente.append(b)
            suporte.append(s)
            confianca.append(c)
            lift.append(l)
            RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [137]:
RegrasFinais

                   Antecedente Consequente  suporte  confianca  lift
0  [~Arroz, ~Feijão, ~Cerveja]  [Manteiga]      0.4        0.8   1.6
1  [~Arroz, ~Feijão, ~Cerveja]       [Pão]      0.4        0.8   1.6

**Podemos ordenar estas regras por uma métrica desejada**

In [138]:
RegrasFinais.sort_values(by='lift', ascending =False)

                   Antecedente Consequente  suporte  confianca  lift
0  [~Arroz, ~Feijão, ~Cerveja]  [Manteiga]      0.4        0.8   1.6
1  [~Arroz, ~Feijão, ~Cerveja]       [Pão]      0.4        0.8   1.6